/* regole generali */
/* *{
    margin: 0;
    padding: 0;
    border: none;
} */

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* regole header */
header{
    background-image: url(../immagini/pattern.png);
    background-color: rgb(55, 132, 205);
    background-size: contain;
}

header img{
    width: 200px;
    height: 100px;
}


/* regole main */
main h1{
    font-size: 40px;  
}

.colorGrey{
    color: #808080;
}

main #speciale{
    color: rgb(55, 132, 205);
}

main section, main section figure{
    margin: 20px 0;
}

main section .highlighted{
    background-color: yellow;
}
table{
    border-collapse: collapse;
}

table thead tr th{
    color: white;
    background-color: rgb(55, 132, 205) ;
}

.specialTable{
    background-color: #75c3dc;
}

/* regole footer */
footer #backgroundUno{
    width: 300px;
    height: 200px;
    background-image: url("../immagini/monitor.jpg");
    background-size: cover;
    margin: 20px 0;
}

footer #backgroundDue{
    width: 300px;
    height: 200px;
    background-image: url("../immagini/graph.jpg");
    background-size: cover;
}

footer .colorWhite{
    color: white;
    font-size: bold;
}