/* regole generali */
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

/* regole header */

/* regole main */
main h1{
    font-size: 40px;  
}

main .colorGrey{
    color: #808080;
}

main #speciale{
    color: rgb(55, 132, 205);
}

main section, main section figure{
    margin: 20px 0;
}

main section .highlighted{
    background-color: yellow;
}
table{
    border-collapse: collapse;
}

table thead tr th{
    color: white;
    background-color: rgb(55, 132, 205) ;
}

.specialTable{
    background-color: #75c3dc;
}



/* regole footer */